<div class="board">
    <div class="row" *ngFor="let y of indices">
        <div
            class="square"
            *ngFor="let x of indices"
            [ngClass]="getSquareColor(x, y)"
            [attr.data-x]="x"
            [attr.data-y]="y"
            (dragover)="onDragOver($event)"
            (drop)="onDrop($event, x, y)"
        >
            <img
                *ngIf="getPieceAt(x, y)"
                [src]="getPieceAt(x, y)!.imageSrc"
                class="piece"
                alt=""
                draggable="true"
                (dragstart)="onDragStart($event, x, y)"
            />
        </div>
    </div>
</div>
