.board {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    width: fit-content;
    margin: auto;
    box-shadow: 1px 1px 58px -16px rgba(0,0,0,0.61);
    -webkit-box-shadow: 1px 1px 58px -16px rgba(0,0,0,0.61);
    -moz-box-shadow: 1px 1px 58px -16px rgba(0,0,0,0.61);
}

.square {
    width: 80px;
    height: 80px;
    position: relative;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;

    &.white { background-color: #c9c9c6; }
    &.black { background-color: #6b6666; }

    .piece {
        width: 100%;
        height: 100%;
        object-fit: contain;
        pointer-events: none; // don't block square clicks
    }
}