<button (click)="switchSides()">switch</button>
<button (click)="restart()">restart</button>
<div class="board">
    <div class="row" *ngFor="let x of indices">
        <div
            class="square"
            *ngFor="let y of indices"
            [ngClass]="{
                'white': getSquareColor(x, y) === 'white',
                'black': getSquareColor(x, y) === 'black'
            }"
            [attr.data-x]="x"
            [attr.data-y]="y"
            (dragover)="onDragOver($event)"
            (drop)="onDrop($event, x, y)"
        >
            <span class="highlight" *ngIf="this.highlightedSqares[x][y]"></span>
            <img
                *ngIf="getPieceAt(x, y)"
                [src]="getPieceAt(x, y)!.imageSrc"
                class="piece"
                alt=""
                draggable="true"
                (dragstart)="onDragStart($event, x, y)"
            />
        </div>
    </div>
</div>
<div class="promotion-picker" *ngIf="promotionPickerVisible" [ngStyle]="{
    'left.px': promotionPickerPosition.x,
    'top.px': promotionPickerPosition.y,
}">
    <app-promotion-picker [color]="board.activeColor" (pieceChosen)="onPawnPromoted($event)"></app-promotion-picker>
</div>
